<div id="home">
    <div id="about-me">
        <div id="image">
            <img alt="An image of me" src="../../../assets/images/20230527_123005.jpg">
        </div>
        <div id="description">
            <h2>About me</h2>
            <p>
                Hi there! <br /> 
                I'm an italian aspiring software developer currently studying computer science at university the University of Milan.
            </p>
        </div>
    </div>
    <div id="more-me">
       <div id="passions">
        <div class="h2">
            <h2>My Passions</h2>
        </div> 
        <p>
            Among my passions there are sports such as Basketball, Olympic Lifting and Rugby. <br />
            Other than that I love Math and Science.
        </p>
       </div>
       <div id="skills">
        <div class="h2">
            <h2>My Skills and Technlogies</h2>
        </div>
        <p>
            My favourite programming language is Java, but I also enjoy Python, Go, and Typescript. <br />
            Among the tools that I use the most there are Angular, Github and VSCode.
        </p>
       </div>
       <div id="languages">
        <div class="h2">
            <h2>My languages</h2>
        </div>
        <p>
            Other than my native language, italian, I do speak english and little french. <br />
            I can also read some spanish.
        </p>
       </div>
    </div>
</div>
