<div id="home">
    <div id="about-me">
            <h2>
                Hi there, <br /> I'm Gabriele!
                <br />
                <a href="https://www.linkedin.com/in/gabriele-gatti-87b321190/" title="Go to my Linkedin profile"><i class="fa fa-linkedin-square"></i></a>
                <a href="https://github.com/Gabri432" title="Go to my Github profile"><i class="fa fa-github-square"></i></a>
            </h2>
        <div id="description">
            <p> 
                I'm an italian aspiring software developer.
            </p>
        </div>
    </div>
    <div id="more-me">
        <h2>About me</h2>
        <p>
            I'm currently studying computer science at the University of Milan. <br />
            I have a passion for creating and maintaing websites, infact I hope one day to work as a <strong>web developer</strong>. <br />
            Aside from this, my interests spread across various fields, such as the <strong>tech industry</strong>, <strong>Science</strong>
            and <strong>Sport</strong>. <br /><br />
            Specifically, I like to talk about 
            <a href="https://gabri432.github.io/angular-personal-website/blog/education/what-is-the-best-renewable-energy/" 
            target="_blank"
            title="View my blog 'What is the best renewable energy?'!">renewable energy sources</a>,
            <a href="https://gabri432.github.io/angular-personal-website/blog/sport/italian-basketball-team-journey/" 
            target="_blank"
            title="View my blog 'Italian basketball team journey'">basketball</a> and
            <a href="https://gabri432.github.io/angular-personal-website/what-programming-language-you-should-learn/"
            target="_blank"
            title="View my blog 'What programming language you should learn'">programming</a>.<br /><br />
            Other sports are Olympic weightlifting and Rugby.<br />
            My native language is Italian, but I do speak English and little French, and read some Spanish.
        </p>
    </div>
    <hr>
    <div id="my-skills-section">
        <h2>My Skills</h2>
        <div id="hard-skills">
           <div class="skill">Angular</div>
           <div class="skill">Python</div>
           <div class="skill">Java</div>
           <div class="skill">Github</div>
           <div class="skill">VSCode</div>
           <div class="skill">Git</div> 
        </div> 
    </div>
    <hr>
    <div id="my-projects-section">
        <app-my-projects></app-my-projects>
    </div>
    <hr>
    <div id="my-blog-section">
        <app-blog-displayer></app-blog-displayer>
    </div>
    <br />
</div>
