<div id="header">
    <div id="my-name">Gabriele Gatti</div>
    <div id="nav-section">
        <nav>
            <a [routerLink]="['']" title="Go to Home page">Home</a>
            <a [routerLink]="['projects']" title="Check out my best projects!">My Projects</a>
            <a href="https://www.linkedin.com/in/gabriele-gatti-87b321190/" title="Go to my Linkedin profile"><i class="fa fa-linkedin-square"></i></a>
            <a href="https://github.com/Gabri432" title="Go to my Github profile"><i class="fa fa-github-square"></i></a>
        </nav>
    </div>
</div>
