#project-section {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;

    #project-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        text-align: left;
        width: 80%;
        margin-left: 10%;
    }

    h2 {
        color: grey;
        font-size: 34px;
    }

    #project-options {
        text-align: center;
        min-height: 10vh;
        width: 80%;
        margin-left: 10%;
        word-break: break-word;
        line-height: 2.5;
    
        .option {
            border: 1px solid grey;
            padding: 5px;
            text-align: center;
            margin: 5px;
            border-radius: 5px;
            min-width: 8ch;
            text-decoration: none;
            color: black;
        }
    
        .option:hover {
            background-color: black;
            color: white;
        }
    
        .project-Angular { border-color: red;}
        .project-Java { border-color: orange;}
        .project-Javascript { border-color: yellow;}
        .project-Go { border-color: lightblue;}
    }
}

@media only screen and (max-width: 899px) {
    #project-section {
        #project-grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            text-align: left;
            width: 80%;
            margin-left: 10%;
        }
    }
}


@media only screen and (max-width: 499px) {
    #project-section {
        padding-top: 20%;
        #project-grid {
            display: block;
            width: 80%;
            margin-left: 10%;
        }
    }
}