#blog-container {
    margin-top: 10%;
    width: 60%;
    margin-left: 20%;
    height: 100vh;
}
app-blog-displayer {
    text-align: center;
}
#margin {
    height: 20vh;
}

@media only screen and (max-width: 499px) {
    #blog-container {
        margin-top: 25vh;
        width: 80%;
        margin-left: 10%;
    }
}