#container {
    margin-top: 10%;
    height: 100vh;
    margin-bottom: 10%;
}

#blog-displayer {
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    background-color: black;
    cursor: pointer;

    a {
        text-decoration: none;
        color: black;
    }

    .title {  
        color: white;
        font-size: 22px;
        padding: 5%;
        height: 15vh;
    }

    .topics {
        color: white;
        padding: 5%;
    }
}

#blog-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: left;
    width: 80%;
    margin-left: 10%;
}

@media only screen and (max-width: 899px) {
    #blog-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: left;
    }
}


@media only screen and (max-width: 499px) {
    #blog-grid {
        display: block;
    }
}