@use '../../../styles.scss' as style;
#footer {
    background-color: style.$gabri-theme;
    font-size: 18px;
    color: white;
    padding: 2%;

    a {
        color: white;
        text-decoration: none;
    }

    #upper-footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 80%;
        margin-left: 10%;
        padding-bottom: 10px;
        border-bottom: 1px solid white;

        a {
            display: block;
        }
    }
    #lower-footer {
        padding-top: 10px;
        font-size: 20px;
        text-align: center;

        a {
            padding: 5px;
            font-size: 35px;
        }
    }
}